

<div class="alert alert-danger" *ngIf="mode==0">
  <strong>You are not authorized to add new tasks</strong>
</div>

<div class="row col-md-6">
  <div class="panel panel-default" >
    <div class="panel-heading">
      New task
    </div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSaveTask(f.value)">
        <div class="form-group">
          <label class="control-label">Task name:</label>
          <input type="text" class="form-control" name="taskName" ngModel="" required/>
        </div>
        <button class="btn btn-danger" type="submit" [disabled]="!f.valid">Save</button>
      </form>
    </div>
  </div>



  <div class="panel panel-default" *ngIf="mode==2" >
    <div class="panel-heading">
      New task
    </div>
    <div class="panel-body">

        <div class="form-group container">
          <label >ID: {{ task.id }}</label> <br />
          <label >Task name: {{ task.taskName }}</label> <br />
          <label >Created successfully! </label>
        </div>


    </div>
  </div>



</div>
